In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
fsc147 = pd.read_csv("../data/ImageClasses_FSC147.txt", sep = "\t", names = ["Image", "Label"])
fsc147.head()

   Image             Label
0  2.jpg        sea shells
1  3.jpg  hot air balloons
2  4.jpg  hot air balloons
3  5.jpg  hot air balloons
4  6.jpg  hot air balloons

In [3]:
labels_fsc147 = fsc147["Label"].unique()
labels_fsc147

array(['sea shells', 'hot air balloons', 'peppers', 'bread rolls',
       'tomatoes', 'geese', 'seagulls', 'peaches', 'balls', 'grapes',
       'watermelon', 'beads', 'candles', 'oysters', 'penguins',
       'strawberries', 'pigeons', 'macarons', 'crows', 'flamingos',
       'cranes', 'boxes', 'stamps', 'watches', 'bowls', 'apples', 'shoes',
       'windows', 'cassettes', 'ants', 'birds', 'books', 'cups', 'fishes',
       'people', 'alcohol bottles', 'bricks', 'bottle caps', 'plates',
       'comic books', 'skateboard', 'sheep', 'buffaloes', 'markers',
       'roof tiles', 'pills', 'keyboard keys', 'carrom board pieces',
       'pencils', 'coins', 'boats', 'elephants', 'sunglasses', 'cows',
       'pens', 'stapler pins', 'camels', 'horses', 'lipstick', 'spoon',
       'bottles', 'deers', 'cement bags', 'go game', 'oranges', 'cans',
       'chairs', 'caps', 'shirts', 'jeans', 'mini blinds', 'zebras',
       'naan bread', 'nuts', 'crab cakes', 'bees', 'coffee beans',
       'gemstones', 'cashew nuts', 'buns', 'kidney beans', 'crayons',
       'matches', 'bullets', 'finger foods', 'clams', 'cotton balls',
       'cupcake tray', 'green peas', 'onion rings', 'polka dots',
       'instant noodles', 'red beans', 'm&m pieces', 'baguette rolls',
       'chicken wings', 'ice cream', 'meat skewers', 'kitchen towels',
       'jade stones', 'toilet paper rolls', 'candy pieces',
       'spring rolls', 'chewing gum pieces', 'pearls', 'donuts tray',
       'cupcakes', 'lighters', 'stairs', 'shallots', 'potatoes', 'screws',
       'goldfish snack', 'marbles', 'polka dot tiles', 'rice bags',
       'oyster shells', 'mosaic tiles', 'prawn crackers',
       'supermarket shelf', 'sausages', 'potato chips', 'calamari rings',
       'biscuits', 'croissants', 'nails', 'skis', 'goats', 'swans',
       'bananas', 'kiwis', 'tree logs', 'eggs', 'cars',
       'birthday candles', 'sauce bottles', 'cereals', 'fresh cut',
       'milk cartons', 'sticky notes', 'nail polish', 'cartridges',
       'legos', 'flower pots', 'flowers', 'straws', 'chopstick'],
      dtype=object)

In [4]:
f = open("misc/labels.txt")
labels_coco = f.readlines()
labels_coco = [line.rstrip('\n') for line in labels_coco]
labels_coco

['person',
 'bicycle',
 'car',
 'motorcycle',
 'airplane',
 'bus',
 'train',
 'truck',
 'boat',
 'traffic light',
 'fire hydrant',
 'stop sign',
 'parking meter',
 'bench',
 'bird',
 'cat',
 'dog',
 'horse',
 'sheep',
 'cow',
 'elephant',
 'bear',
 'zebra',
 'giraffe',
 'backpack',
 'umbrella',
 'handbag',
 'tie',
 'suitcase',
 'frisbee',
 'skis',
 'snowboard',
 'sports ball',
 'kite',
 'baseball bat',
 'baseball glove',
 'skateboard',
 'surfboard',
 'tennis racket',
 'bottle',
 'wine glass',
 'cup',
 'fork',
 'knife',
 'spoon',
 'bowl',
 'banana',
 'apple',
 'sandwich',
 'orange',
 'broccoli',
 'carrot',
 'hot dog',
 'pizza',
 'donut',
 'cake',
 'chair',
 'couch',
 'potted plant',
 'bed',
 'dining table',
 'toilet',
 'tv',
 'laptop',
 'mouse',
 'remote',
 'keyboard',
 'cell phone',
 'microwave',
 'oven',
 'toaster',
 'sink',
 'refrigerator',
 'book',
 'clock',
 'vase',
 'scissors',
 'teddy bear',
 'hair drier',
 'toothbrush']

In [5]:
labels_common = [x for y in labels_coco for x in labels_fsc147 if y in x]
list(set(labels_common))

# the labels are not the same, so we have to manually filter them out
# keep: spoon, skis, birds, zebrac, chairs, elephants, sheep, books, cups, skateboard, bananas, apples, bowls, cars, horses, bottles, dows, oranges, boats

['cups',
 'boats',
 'horses',
 'toilet paper rolls',
 'cows',
 'cupcake tray',
 'bowls',
 'chairs',
 'keyboard keys',
 'bottles',
 'books',
 'apples',
 'macarons',
 'sauce bottles',
 'alcohol bottles',
 'donuts tray',
 'birds',
 'carrom board pieces',
 'comic books',
 'sheep',
 'cupcakes',
 'cars',
 'skateboard',
 'elephants',
 'skis',
 'milk cartons',
 'zebras',
 'bananas',
 'cartridges',
 'oranges',
 'crab cakes',
 'bottle caps',
 'spoon']

In [6]:
!pip install pycocotools

Requirement already satisfied: pycocotools in c:\users\matij\anaconda3\envs\fscount\lib\site-packages (2.0.3)
Requirement already satisfied: cython>=0.27.3 in c:\users\matij\anaconda3\envs\fscount\lib\site-packages (from pycocotools) (0.29.25)
Requirement already satisfied: setuptools>=18.0 in c:\users\matij\anaconda3\envs\fscount\lib\site-packages (from pycocotools) (58.0.4)
Requirement already satisfied: matplotlib>=2.1.0 in c:\users\matij\appdata\roaming\python\python37\site-packages (from pycocotools) (3.4.3)
Requirement already satisfied: numpy>=1.16 in c:\users\matij\anaconda3\envs\fscount\lib\site-packages (from matplotlib>=2.1.0->pycocotools) (1.21.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\matij\appdata\roaming\python\python37\site-packages (from matplotlib>=2.1.0->pycocotools) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\matij\anaconda3\envs\fscount\lib\site-packages (from matplotlib>=2.1.0->pycocotools) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\matij\appdata\roaming\python\python37\site-packages (from matplotlib>=2.1.0->pycocotools) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\matij\anaconda3\envs\fscount\lib\site-packages (from matplotlib>=2.1.0->pycocotools) (8.4.0)
Requirement already satisfied: cycler>=0.10 in c:\users\matij\appdata\roaming\python\python37\site-packages (from matplotlib>=2.1.0->pycocotools) (0.10.0)
Requirement already satisfied: six in c:\users\matij\appdata\roaming\python\python37\site-packages (from cycler>=0.10->matplotlib>=2.1.0->pycocotools) (1.15.0)

In [7]:
from pycocotools.coco import COCO
import requests

# instantiate COCO specifying the annotations json path
coco = COCO("misc/instances_val2017.json")
# Specify a list of category names of interest
catIds = [50, 35, 16, 24, 62, 22, 20, 84, 47, 41, 52, 53, 51, 19, 44, 55, 9]
print(catIds)
# Get the corresponding image ids and images using loadImgs
imgIdsAll = []
more_than_one = 0
for catId in catIds:
    imgIds = coco.getImgIds(catIds=catId)
    imgIdsAll.extend(imgIds)
    
    for imgId in imgIds:
        cat_objects = 0
        annotationIds = coco.getAnnIds(imgId)
        annotations = coco.loadAnns(annotationIds)
        for anno in annotations:
            if anno['category_id'] == catId:
                cat_objects += 1
        
        if cat_objects > 1:
            more_than_one += 1
    
print(f"Out of {len(imgIdsAll)}, {more_than_one} have more than one object of the target category")

loading annotations into memory...
Done (t=0.59s)
creating index...
index created!
[50, 35, 16, 24, 62, 22, 20, 84, 47, 41, 52, 53, 51, 19, 44, 55, 9]
Out of 3170, 1608 have more than one object of the target category

In [8]:
# What, to so gledal najbrž na svojem data setu?
labels_common = ['spoon', 'skis', 'birds', 'zebras', 'chairs', 'elephants', 'sheep', 'books', 'cups', 'skateboard', 'bananas', 'apples', 'bowls', 'cars', 
              'horses', 'bottles', 'oranges', 'boats']

In [9]:
sum(fsc147["Label"].isin(labels_common))

888

In [10]:
fsc147[fsc147["Label"].isin(labels_common)]
fsc147["Split"] = np.nan
fsc147

         Image             Label  Split
0        2.jpg        sea shells    NaN
1        3.jpg  hot air balloons    NaN
2        4.jpg  hot air balloons    NaN
3        5.jpg  hot air balloons    NaN
4        6.jpg  hot air balloons    NaN
...        ...               ...    ...
6141  6802.jpg             boxes    NaN
6142  7444.jpg             boxes    NaN
6143  6862.jpg             boxes    NaN
6144  7382.jpg             boxes    NaN
6145  7362.jpg             boxes    NaN

[6146 rows x 3 columns]

In [11]:
f = open("../data/Train_Test_Val_FSC_147.json", "r")
splits = json.load(f)

In [12]:
for i, img_name in enumerate(fsc147["Image"].values):
    #print(img_name)
    split = "test" if img_name in splits["test"] else "train"
    split = "val" if img_name in splits["val"] else split
    fsc147.loc[i, "Split"] = split
    
fsc147

         Image             Label  Split
0        2.jpg        sea shells   test
1        3.jpg  hot air balloons   test
2        4.jpg  hot air balloons   test
3        5.jpg  hot air balloons   test
4        6.jpg  hot air balloons   test
...        ...               ...    ...
6141  6802.jpg             boxes  train
6142  7444.jpg             boxes  train
6143  6862.jpg             boxes  train
6144  7382.jpg             boxes  train
6145  7362.jpg             boxes  train

[6146 rows x 3 columns]

In [13]:
fsc147[(fsc147["Split"] == "test") & (fsc147["Label"].isin(labels_common))]

         Image   Label Split
523    685.jpg  apples  test
524    686.jpg  apples  test
525    687.jpg  apples  test
526    689.jpg  apples  test
527    691.jpg  apples  test
...        ...     ...   ...
6027  6849.jpg  apples  test
6123  7500.jpg   sheep  test
6124  7047.jpg   sheep  test
6125  7412.jpg   sheep  test
6126  6901.jpg   sheep  test

[282 rows x 3 columns]

# Testing Object Detectors

In [14]:
labels_common = ['spoon', 'skis', 'birds', 'zebras', 'chairs', 'elephants', 'sheep', 'books', 'cups', 'skateboard', 'bananas', 'apples', 'bowls', 'cars', 
              'horses', 'bottles', 'oranges', 'boats']

labels_coco_ids = [50, 35, 16, 24, 62, 22, 20, 84, 47, 41, 52, 53, 51, 19, 44, 55, 9]

label2coco = dict(zip(labels_common, labels_coco_ids))
label2coco

{'spoon': 50,
 'skis': 35,
 'birds': 16,
 'zebras': 24,
 'chairs': 62,
 'elephants': 22,
 'sheep': 20,
 'books': 84,
 'cups': 47,
 'skateboard': 41,
 'bananas': 52,
 'apples': 53,
 'bowls': 51,
 'cars': 19,
 'horses': 44,
 'bottles': 55,
 'oranges': 9}

In [25]:
import torchvision
from PIL import Image
import os
import matplotlib.pyplot as plt
import torch

In [146]:
data_path = "../data/images_384_VarV2"
split_path = "../data/Train_Test_Val_FSC_147.json"
anno_path = "../data/annotation_FSC147_384.json"
split = "val_coco"

In [147]:
f = open(split_path, "r")
splits = json.load(f)

f = open(anno_path, "r")
annotations = json.load(f)

In [190]:
list(splits.keys())

['test', 'test_coco', 'train', 'val', 'val_coco']

In [148]:
torch.cuda.is_available()

True

In [149]:
torch.cuda.empty_cache()

In [180]:
%%capture
model = torchvision.models.detection.maskrcnn_resnet50_fpn(pretrained = True,  
                                                            box_nms_thresh = 0.5,
                                                            #box_score_thresh = 0.3,
                                                            box_detections_per_img = 1000)
#model = torchvision.models.detection.fasterrcnn_resnet50_fpn(pretrained = True,
#                                                              box_nms_thresh = 0.5,
#                                                              box_detections_per_img = 1000)
#model = torchvision.models.detection.retinanet_resnet50_fpn(pretrained = True,
#                                                            nms_thresh = 0.5,
#                                                            detections_per_img = 1000)
#model = torchvision.models.detection.ssd300_vgg16(pretrained = True,
#                                                    nms_thresh = 0.5,
#                                                    detections_per_img = 1000)

model.eval()
model.cuda()

In [181]:
gts = []
preds = []

In [182]:
for i, img_name in enumerate(splits[split]):
    img_gt = len(annotations[img_name]["points"])
    img_label = fsc147[fsc147["Image"] == img_name].Label.values[0]
    img_coco_id = label2coco[img_label]
    img = np.array(Image.open(os.path.join(data_path, img_name)))

    # torchvision preprocessing
    img = np.transpose(img, (2, 0, 1))
    img = np.expand_dims(img, axis = 0)
    img_tensor = torch.Tensor(img) / 255
    
    with torch.no_grad():
        res = model(img_tensor.cuda())[0]['labels']
        pred_labels = res.cpu().numpy()
        del res
        del img_tensor
    count = np.sum(pred_labels == img_coco_id)
    preds.append(count)
    gts.append(img_gt)
    
    if i % 10 == 0:
        print(i)
    
    #print(f"{img_name}: {img_gt}")
    #print(f"Model 1 Prediction: {count1}")

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270

In [183]:
gts = np.array(gts)
preds = np.array(preds)

### MAE

In [184]:
ABS_ERR = np.abs(gts - preds)

In [185]:
np.round(np.mean(ABS_ERR), 2)

52.04

In [186]:
np.round(np.std(ABS_ERR), 2)

159.98

### RMSE

In [187]:
SQ_ERR = (gts - preds) ** 2

In [188]:
np.round(np.sqrt(np.mean(SQ_ERR)), 2)

168.23

In [189]:
np.round(np.sqrt(np.std(SQ_ERR)), 2)

523.21